
// Font Selection //
$theme_font:'Century-Gothic-b';
$body_font:'Proxima Nova Rg';
$head_font:'Inter';

// Color Selection //
$theme_color:rgb(28,121,191);
$body_color:#1D1C1C;
$hover_color:#083d64;
$blackcolor:#000;
$blackcolor1:#222;

// Social Icon Color //
$fb_color:#4267B2;
$twitter_color:#1DA1F2;
$whatsap_color:#25D366;

// Margin Top //
.mt-5{
  margin-top: 5rem;
}
.mt-6{
  margin-top: 6rem;
}

// Margin Bottom //
.mb-1{
  margin-bottom: 1rem;
}
.mb-3{
  margin-bottom: 3rem;
}